body {
    background: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.grid-container {
    width: 100%;
    max-width: 87.5rem;
}

.page-wrapper {
    min-height: 100vh;
}

header {
    margin-bottom: -4rem;
    padding: 1rem 0 6rem;
    background: linear-gradient(180deg, white 70%, rgba( #fff, 0));

    @include breakpoint(medium) {
        margin: 0;
        padding: 2rem 0;
        background: linear-gradient(180deg, white 10%, rgba( #fff, 0));
    }

    @include breakpoint(large) {
        padding: 2rem 0 5rem;
    }

    .grid-x {
        display: flex;
        flex-flow: column-reverse wrap;

        @include breakpoint(medium) {
            flex-flow: row wrap;            
        }
    }

    .logo {
        &-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            width: 100%;
            background: transparent;

            @include breakpoint(small only) {
                justify-content: flex-start;
                padding: 1.5rem 0;
            }

            img {
                background-blend-mode: multiply;
                mix-blend-mode: multiply;

                @include breakpoint(small only) {
                    max-width: 10rem;
                }
            }
        }
    }

    .contact {
        &-wrapper {
            width: 100%;

            @include breakpoint(large) {
                padding: 2rem 0;
            }
        }

        &-item {
            display: flex;
            flex-flow: row wrap;
            width: 100%;

            span,
            a {
                padding: 0.25rem 0;
                line-height: 1rem;
                font-weight: 700;
                font-size: 1rem;
                color: get-color(primary);

                @include breakpoint(large) {
                    line-height: 1.125rem;
                    font-size: 1.125rem;
                }
            }

            span {
                min-width: 7rem;
            }

            a {
                font-weight: 400;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.script {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    height: 100%;

    @include breakpoint(medium only) {
        align-items: flex-start;
    }

    span {
        text-align: center;
        font-family: $handwritten-font-family;
        font-weight: 800;
        font-size: 1.375rem;
        color: get-color(primary);

        position: relative;

        @include breakpoint(medium) {
            text-align: left;
            font-size: 1.5rem;
        }

        @include breakpoint(large) {
            font-size: 1.875rem;
        }

        &:after {
            content: '';
            width: 5rem;
            height: 4rem;
            margin-left: 1.5rem;

            background: url('../img/arrow.png') top left no-repeat;
            background-size: 100% auto;

            position: absolute;
            top: 0;
            left: 100%;

            @include breakpoint(medium) {
                width: 9.1875rem;
                height: 4.375rem;
            }

            @include breakpoint(medium only) {
                display: none;
            }
        }
    }
}

.item {
    &-wrapper {
        width: 100%;
        padding: 0 0 2rem;
        box-sizing: border-box;

        @include breakpoint(medium) {
            padding: 0 0 2rem;
        }

        @include breakpoint(large) {
            padding: 0 1rem 4rem;
        }
    }

    &-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        padding: 2rem;
        background: get-color(white);
        border-radius: 0.875rem;

        transform: translateY(0);
        transition: 200ms ease-out;

        img {

        }

        span {
            font-family: $font-primary;
            font-weight: 600;
            font-size: 1.125rem;
            color: get-color(primary);
        }

        &:hover {
            transform: translateY(-0.25rem);
        }
    }
}