// Override foundation Settings
// Font
$font-primary: 'Open Sans', sans-serif;
$header-font-family: 'Open Sans', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$handwritten-font-family: 'Bradley Hand', serif;

// Colors
$foundation-palette: (
    primary: #A90E2C,
    green: #6ab04f,
    blue: #005072,
    blue-bright: #1792d5,

    black: #0a0a0a,
    dark: #484848,
    medium: #999999,
    light: #e1e2e3,
    white: #fefefe,

    success: #8ec63f,
    warning: #fb9c00,
    alert: #de1601,

    font: #666666
);
