* {
    font-family: $font-primary;
}

h1 {
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
    font-family: $header-font-family;
    font-weight: 700;
    font-size: 1.5rem;
    color: get-color(primary);

    @include breakpoint(medium) {
        margin-bottom: 1.75rem;
    }

    &.page-title {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        margin-bottom: 2rem;

        @include breakpoint(medium) {
            margin-bottom: 4rem;
        }

        span {
            text-align: center;
            text-transform: uppercase;
            line-height: 1.25rem;
            font-weight: 800;
            font-size: 1.25rem;

            @include breakpoint(medium) {
                line-height: 2.25rem;
                font-size: 2.25rem;
            }
        }

        &:before,
        &:after {
            content: '';
            width: 2rem;
            height: 0.25rem;
            margin: 0 1rem 0 0;

            background: get-color(green);
            position: relative;

            @include breakpoint(medium) {
                width: 4rem;
                height: 0.3125rem;
                margin: 0 2rem 0 0;
            }
        }

        &:after {
            margin: 0 0 0 1rem;

            @include breakpoint(medium) {
                margin: 0 0 0 2rem;
            }
        }
    }
}

h2 {
    line-height: 1.375rem;
    font-family: $header-font-family;
    font-weight: 600;
    font-size: 1.125rem;
    color: get-color(primary);
}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    line-height: 1.375rem;
    font-family: $header-font-family;
    font-weight: 700;
    font-size: 1rem;
    color: get-color(primary);
}

h4 {
    text-transform: uppercase;
    line-height: 1.375rem;
    font-family: $header-font-family;
    font-weight: 800;
    font-size: 1rem;
    color: get-color(primary);
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.675rem;
    font-weight: 500;
    font-size: 0.9375rem;
    color: get-color(font);

    @include breakpoint(medium) {
        margin-bottom: 1.875rem;
    }
}

ul {
    margin: -0.375rem 0;

    li {
        padding: 0.375rem 0;
        line-height: 1.5rem;
        font-weight: 500;
        font-size: 0.875rem;
        color: get-color(font);

        i {
            margin-right: 0.75rem;
            font-weight: 800;
            font-size: 0.675rem;
            color: get-color(green);
        }
    }
}